.container{
    padding: 0% var(--side-padding);
    text-align: center;
    margin-top: 16%;
    box-sizing: border-box;
}

.mainText{
    font-family: Poppins-Bold;
    font-size: 52px;
}

.text{
    font-family: Poppins-Medium;
    font-size: 20px;
    color: gray;
}

.highlightColorOne{
    color: black;
}

.highlightColorTwo{
    color: black;
    border-bottom: 2px solid black;
}

@media (max-width: 1100px) {
    .container{
        width: 100%;
        padding: 0% 1%;
        box-sizing: border-box;
    }

    .text{
        font-size: 16px;
    }
}