.container{
    padding: 0% var(--side-padding);
    text-align: center;
    margin-top: 16%;
}

.mainText{
    font-family: Poppins-Bold;
    font-size: 52px;
}

.text{
    font-family: Poppins-Medium;
    font-size: 20px;
    color: gray;
}

.highlightColorOne{
    color: black;
}

.highlightColorTwo{
    color: black;
    border-bottom: 2px solid black;
}