.container{
    padding: 0% var(--side-padding);
    text-align: start;
    margin-top: 20%;
}

.mainText{
    font-family: Poppins-Bold;
    font-size: 52px;
}

.text{
    font-family: Poppins-Medium;
    font-size: 20px;
    color: #FFEA9F;
}

.highlightColorOne{
    color: #FFBBC3;
}

.highlightColorTwo{
    color: #B6FBFF;
    border-bottom: 2px solid #B6FBFF;
}