.container{
    text-align: start;
    margin-bottom: 6%;
    padding: 2%;
    box-sizing: border-box;
    background-color: rgba(62, 56, 56, 0.148);
    border-radius: 8px;
    width: 48%;
    height: 700px;
}

.heading{
    font-family: Poppins-SemiBold;
    font-size: 22px;
}

.text{
    font-family: Poppins-Medium;
    font-size: 16px;

}


.skillsContainer{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.imageContainer{
    margin-top: 6%;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.linksContainer{
    width: 100%;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
}

.link{
    width: 44%;
    text-decoration: none;
    color: black;
    font-family: Poppins-Medium;
    font-size: 16px;
    padding: 2% 6%;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 8px;
    border: 2px solid #717171;
}

.image{
    object-fit: cover;
    max-width: 100%;
    max-height: 200%;
}

.techImage{
    width: 40px;
    height: 40px;
}

.textContainer{
    width: 100%;
    height: 170px;
}

.infoSection{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}