.container{
    text-align: start;
    padding: 0% var(--side-padding);
    margin-top: 32%;
}

.skillDetailsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skillSection{

}

.skillHeading{
    font-family: Poppins-Bold;
    font-size: 22px;
    margin-bottom: 0%;
}

.contentContainer{

}