.main{
    font-family: Poppins-Medium;
    font-size: 14px;
    padding: 1% 2%;
    border-radius: 4px;
    margin-inline: 6px;
    background-color: #FFDECC;
    box-shadow: 4px 4px 0px 2px black;
    border: 2px solid black;
}